/*--Initialised Values--*/
html, body {
    margin: 0pt;
    padding: 0pt;
    height: 100%;
    min-height: 100%;
    width: 100%;    
    background-color: #F3F3F3;
}
body {
    font-size: 14px;
    line-height: 16px;
    
}
.warper {
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    z-index: 0;
    
}
* html .warper
{
    height: 100%;
}
::-moz-selection {
  background: rgba(255, 253, 133, 0.6);
  text-shadow: none;
}

::selection {
  background: rgba(255, 253, 133, 0.6);
  text-shadow: none;
}
a, 
a:link {
    text-decoration: none; 
    color: inherit;
}
a:link,
a:visited {
  text-decoration: none;
}
a:hover {
    color: #8eaac1;
}
strong {
    font-weight: bold;
}
.hidden {
    display: none !important;
}
.empty {
    color: #ddd;
    font-style: italic;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}