/*--Inner pages base & site-wide css --*/
.section {
    
}
.page {
    margin-top: 120px;
}
.content {
    margin: 0 auto;
    max-width: 80%;
    min-width: 320px;
    padding: 50px 40px 80px;
}
.section-strip {
    background: none repeat scroll 0 0 #dfdfdf;
    color: #595B5B;
    font-size: 12px;
    letter-spacing: 0.7em;
    overflow: hidden;
    font-weight: bold;
    padding: 35px 0;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
/*    -moz-box-shadow       : 0 -1px 0 rgba(255, 255, 255, 0.2) inset, 0 0 1px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow    : 0 -1px 0 rgba(255, 255, 255, 0.2) inset, 0 0 1px rgba(0, 0, 0, 0.6);
    box-shadow            : 0 -1px 0 rgba(255, 255, 255, 0.2) inset, 0 0 1px rgba(0, 0, 0, 0.6);*/
}
.text .content {
    font-size: 20px;
    line-height: 31px;
}
.text h3 {
    font-size: 1.9em;
    line-height: 39px;
    padding: 20px;
}
.text p {
    margin-bottom: 30px;
}
/*-- who --*/
.who {
    
}
.who h2 {
    font-size: 2.3em;
    line-height: 43px;
    padding: 20px 20px 40px;
}
.who .content {
    font-size: 20px;
    line-height: 32px;
}

/*-- project --*/
.work {
/*    border-bottom: 1px solid #939393;
    border-top: 1px solid #939393;*/
/*    -moz-box-shadow       : 0px 1px 0 rgba(255, 255, 255, 0.85);
    -webkit-box-shadow    : 0px 1px 0 rgba(255, 255, 255, 0.85);
    box-shadow            : 0px 1px 0 rgba(255, 255, 255, 0.85);
    margin-bottom: 1px;*/
    background-color: #EFEFEF;
    -moz-box-shadow       : 0 -1px 0 rgba(255, 255, 255, 0.2) inset, 0 0 1px rgba(0, 0, 0, 0.6);
    -webkit-box-shadow    : 0 -1px 0 rgba(255, 255, 255, 0.2) inset, 0 0 1px rgba(0, 0, 0, 0.6);
    box-shadow            : 0 -1px 0 rgba(255, 255, 255, 0.2) inset, 0 0 1px rgba(0, 0, 0, 0.6);
}
.project {
    height: 350px;
    overflow: hidden;
    position: relative;
    background-color: #8eb5d4;
    display: block;
}
.project, .project * {
    transition: all 0.3s ease-in-out 0s;
}
.project img {
    width: 100%;
}
.project:hover img {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
	filter: alpha(opacity=10);
    opacity: 0.1;
}
.project-info { 
    color: #f1f1f1;
    left: 0;
    right: 0;
    position: absolute;
    text-align: center;
    top: 22%;
    width: 100%;
    z-index: 0;
    letter-spacing: 0.3em;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
    opacity: 0;
}
.project:hover .project-info {
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
	filter: alpha(opacity=100);
    opacity: 100;
}
.project-info .content {
    width: 50%;
    font-size: 12px;
}
.project-info h4 {
    font-size: 1.4em;
    font-weight: bold;
    margin: 0 0 20px;
}
/*-- profile --*/
.light-text {
    color: #656565;
}
/*-- contact --*/
.contact-link {
    display: inline-block;
    margin: 0 4%;
    font-size: 52px;
    transition: all 0.3s ease-in-out 0s;
}
.contact-link span {
    overflow: hidden;
    text-indent: -9999px; 
    display: inline-block;
}
/*-- footer --*/
.footer {
    background-color: #ffffff;
    color: #939393
}
.footer .content {
    padding: 30px 40px 40px;
}
.footer .name {
    padding-right: 5px;
}
.footer .email {    
    padding-left: 5px;
}